{% include('common/_header.twig') %}

    <style>
        .wrapper main::after { opacity: 0.11; }
    </style>

    <!--*************************************************************************************-->
    <div class="main"> <!-- доп.обёртка для прижатия футера -->

        {% include('common/_nav.twig') %}

        <div class="content">
            <div class="wrapper">
                <main>
                    <h1>Выпускной проект №1</h1>
                </main>
            </div>
        </div>
    </div>
    <!--*************************************************************************************-->

{% include('common/_footer.twig') %}
