<nav>
    <div class="wrapper">
        <a href="/" id="logolink"></a>
        <a href="/user/register">Регистрация</a>
        <a href="/user/auth">Авторизация</a>
        {{ exit | raw }}
    </div>
</nav>
